{% if reviews %}
{% if not is_view_template %}
<h3 class="text-2xl font-semibold mb-4">Comentários</h3>
{% endif %}
<ul class="space-y-6">
  {% for review in reviews %}
  <li data-content-item-id="{{ review.id }}" class="bg-white rounded-lg shadow-md overflow-hidden flex p-5">
    <div class="flex w-full">
        <div class="flex-1 ml-5 items-start">
            <h2 class="text-xl font-semibold mb-2 text-gray-800">
            {{ review.user.first_name }}
            </h2>
            <p class="text-sm text-gray-600 mb-2">
            {% for i in "12345"|make_list %} {% if forloop.counter <= review.rating %}
            <i class="fas fa-star text-yellow-400"></i>
            {% else %}
            <i class="far fa-star text-yellow-400"></i>
            {% endif %} {% endfor %}
            </p>
            <p class="text-sm text-gray-600">Comentário: {{ review.comment }}</p>
        </div>
    </div>

{% if is_view_template %}
    <div class="flex items-center ml-4">
        <button data-type="review" data-content-id="{{ review.id }}" class="btn-delete bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 text-sm rounded">
            Excluir
        </button>
    </div>
{% endif %}


  </li>
  {% endfor %}
</ul>
{% endif %}
