{% extends 'base.html' %}

{% block content %}
{% if certificates %}
    <ul class="space-y-6">
    {% for certificate in certificates %}
    <li class="bg-white rounded-lg shadow-md overflow-hidden p-5">
        <h2 class="text-xl font-semibold mb-2 text-gray-800">
            <a href="{% url 'certificate:detail' certificate.id %}" class="text-blue-600 hover:text-blue-800">
                {{ certificate.title }}
            </a>
        </h2>
        <p class="text-sm text-gray-600">Emitido em: {{ certificate.created_at|date:"d/m/Y" }}</p>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Você ainda não tem certificados.</p>
{% endif %}
{% endblock %}
