{% extends 'base.html' %} {% block content %}
<div class="max-w-md mx-auto mt-10">
  <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %} {% for field in form %}
    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="{{ field.id_for_label }}"
      >
        {{ field.label }}
      </label>
      {{ field }} {% if field.errors %} {% for error in field.errors %}
      <p class="text-red-500 text-xs italic">{{ error }}</p>
      {% endfor %} {% endif %}
    </div>
    {% endfor %}

    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Cadastrar
      </button>
    </div>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const zipCodeInput = document.getElementById("id_zipcode");
    const streetInput = document.getElementById("id_street");
    const neighborhoodInput = document.getElementById("id_neighborhood");
    const cityInput = document.getElementById("id_city");
    const stateInput = document.getElementById("id_state");

    if (zipCodeInput) {
      zipCodeInput.addEventListener("blur", function () {
        const zipCode = zipCodeInput.value.replace(/\D/g, "");
        if (zipCode.length === 8) {
          fetch(`https://viacep.com.br/ws/${zipCode}/json/`)
            .then((response) => response.json())
            .then((data) => {
              if (!data.erro) {
                if (streetInput) streetInput.value = data.logradouro;
                if (neighborhoodInput) neighborhoodInput.value = data.bairro;
                if (cityInput) cityInput.value = data.localidade;
                if (stateInput) stateInput.value = data.uf;
              }
              id_number.focus();
            })
            .catch((error) => console.error("Erro ao buscar CEP:", error));
        }
      });
    } else {
      console.error("Campo de CEP não encontrado");
    }
  });
</script>
{% endblock %}
